#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"




//
// Menu resources
//
IDC_REGEDIT MENU
{
    POPUP "&File"
    {
        MENUITEM "Find", IDD_FIND
        MENUITEM "Exit", IDM_EXIT
    }
    POPUP "&Help"
    {
        MENUITEM "&About Registry Editor...", IDM_ABOUT
    }
}



//
// Dialog resources
//
IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "About Registry Editor"
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    DEFPUSHBUTTON   "OK", IDOK, 113, 41, 50, 14, WS_GROUP, WS_EX_LEFT
    ICON            IDI_SMALL, IDC_STATIC, 8, 10, 30, 30, SS_ICON | SS_REALSIZECONTROL, WS_EX_LEFT
    LTEXT           "Registry Editor, Version 1.0", IDC_STATIC, 42, 14, 66, 9, SS_LEFT | SS_NOPREFIX, WS_EX_LEFT
    LTEXT           "Viacheslav Dziadok (c) 2023", IDC_STATIC, 42, 26, 112, 9, SS_LEFT, WS_EX_LEFT
}



IDD_EDIT_DWORD DIALOG 0, 0, 186, 105
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Change DWORD (32-bit) Value"
FONT 8, "Ms Shell Dlg"
{
    EDITTEXT        303, 9, 49, 70, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    GROUPBOX        "Base", 11, 84, 40, 91, 40, 0, WS_EX_LEFT
    AUTORADIOBUTTON "Hexadecimal", 304, 91, 51, 84, 8, WS_GROUP | WS_TABSTOP | WS_DISABLED, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 132, 85, 48, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 81, 85, 46, 14, 0, WS_EX_LEFT
    LTEXT           "Value:", 12, 10, 10, 35, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        302, 9, 20, 166, 14, ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFT
    LTEXT           "Data:", 13, 10, 39, 30, 9, SS_LEFT, WS_EX_LEFT
    AUTORADIOBUTTON "Decimal", 305, 91, 66, 57, 8, WS_GROUP | WS_TABSTOP | WS_DISABLED, WS_EX_LEFT
}



IDD_EDIT_STRING DIALOG 0, 0, 186, 95
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Change String Value"
FONT 8, "Ms Shell Dlg"
{
    EDITTEXT        203, 9, 49, 166, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 76, 74, 46, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 127, 74, 48, 14, 0, WS_EX_LEFT
    LTEXT           "Value:", 14, 10, 10, 35, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        202, 9, 20, 166, 14, ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFT
    LTEXT           "Data:", 15, 10, 39, 30, 9, SS_LEFT, WS_EX_LEFT
}



IDD_FIND DIALOG 0, 0, 186, 95
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Find"
FONT 8, "Ms Shell Dlg"
{
    EDITTEXT        401, 9, 23, 116, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    AUTOCHECKBOX    "Keys", 402, 13, 54, 37, 8, 0, WS_EX_LEFT
    GROUPBOX        "Search", 16, 9, 41, 116, 40, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 130, 44, 48, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "Find", IDOK, 129, 23, 49, 14, 0, WS_EX_LEFT
    LTEXT           "Find what:", 0, 10, 10, 105, 9, SS_LEFT, WS_EX_LEFT
    AUTOCHECKBOX    "Values", 403, 13, 66, 41, 8, 0, WS_EX_LEFT
}



IDD_SEARCH DIALOGEX 0, 0, 186, 45
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Search"
FONT 8, "MS Shell Dlg"
{
    DEFPUSHBUTTON   "Cancel", IDCANCEL, 128, 4, 50, 14
    LTEXT           "Registry search ongoing...", IDC_STATIC, 7, 7, 119, 10, SS_NOPREFIX
    CONTROL         "", IDC_PROGRESS, "msctls_progress32", WS_BORDER | PBS_MARQUEE | PBS_SMOOTH, 7, 22, 171, 14
}



//
// String Table resources
//
STRINGTABLE
{
    IDS_APP_TITLE                 "Registry Editor"
    IDC_REGEDIT                   "REGEDIT"
}



//
// Accelerator resources
//
IDC_REGEDIT ACCELERATORS
{
    "?",        IDM_ABOUT, ASCII, ALT
    "/",        IDM_ABOUT, ASCII, ALT
    "a",        IDM_ABOUT, ASCII, CONTROL, VIRTKEY
    "f",        IDD_FIND, ASCII, CONTROL, VIRTKEY
    "q",        IDM_EXIT, ASCII, CONTROL, VIRTKEY
    VK_F5,      IDM_REFRESH, VIRTKEY
    VK_F12,     IDM_TEST, VIRTKEY
}



//
// Icon resources
//
IDI_REGEDIT        ICON           "Regedit.ico"


LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
IDI_SMALL          ICON           "small.ico"
IDI_OPENED_FOLDER  ICON           "opened-folder.ico"
IDI_CLOSED_FOLDER  ICON           "closed-folder.ico"